<%- include("../partials/header.ejs") %>

<main class="main-content">
    <div class="breadcrumb-area breadcrumb-height" data-bg-image="/images/breadcrumb/bg/1-1-1920x400.jpg">
        <div class="container h-100">
            <div class="row h-100">
                <div class="col-lg-12">
                    <div class="breadcrumb-item text-night-rider">
                        <h2 class="breadcrumb-heading">Cart Page</h2>
                        <ul>
                            <li>
                                <a href="/">Home /</a>
                            </li>
                            <li>Cart</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="cart-area section-space-y-axis-100">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <% if (cart.items.length === 0) { %>
                        <!-- Message if cart is empty -->
                        <div class="empty-cart-message">
                            <h3>Your cart is empty!</h3>
                            <p>There are no products in your cart. Please start shopping.</p>
                            <a href="/products" class="button">Browse Shopping</a>
                        </div>
                    <% } else { %>
                        <!-- If cart has products -->
                        <form action="javascript:void(0)">
                            <div class="table-content table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            
                                            <th class="product-thumbnail">images</th>
                                            <th class="cart-product-name">Product</th>
                                            <th class="product-price">Unit Price</th>
                                            <th class="product-quantity">Quantity</th>
                                            <th class="product-subtotal">Total</th>
                                            <th class="product_remove">remove</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% cart.items.forEach(item => { %>
                                            <tr>
                                                                                                
                                                <td class="product-thumbnail">
                                                    <a href="/product/<%=item.productId._id%>">
                                                        <img src="<%= item.productId.images[0] %>" style="height: 50px;" width="50px" alt="Cart Thumbnail">
                                                    </a>
                                                </td>
                                                <td class="product-name"><a href="/product/<%=item.productId._id%>"> <%= item.productId.name %> </a></td>
                                                <td class="product-price"><span class="amount">₹<%= item.productId.price %></span></td>
                                                <td class="quantity">
                                                    <div class="cart-plus-minus">
                                                        <button class="dec qtybutton " data-id="<%= item.productId._id %>" style="background: none; border: none; font-size: large; padding-left: 5px;" >-</button>
                                                        <input class="cart-plus-minus-box" value=" <%= item.quantity %> "  type="text" readonly>
                                                        <button class="inc qtybutton" data-id="<%= item.productId._id %>" style="background: none; border: none; font-size: large; padding-right: 5px">+</button>
                                                    </div>                                                                                                        
                                                </td>
                                                <td class="product-subtotal"><span class="amount">₹<%= item.quantity * item.productId.price %></span></td>
                                                <td class="product_remove">
                                                    <a href="#" class="delete-item" data-id="<%= item.productId._id %>">
                                                        <i class="pe-7s-trash"></i>
                                                    </a>
                                                </td>
                                            </tr>
                                        <% }) %>
                                    </tbody>
                                </table>
                            </div>

                            <div class="row">
                                <div class="col-12">
                                    <div class="coupon-all">
                                        <div class="coupon">
                                            <input id="coupon_code" class="input-text" name="coupon_code" value="" placeholder="Coupon code" type="text">
                                            <input class="button mt-xxs-30" name="apply_coupon" value="Apply coupon" type="submit">
                                        </div> 
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-5 ml-auto">
                                    <div class="cart-page-total">
                                        <h2>Cart totals</h2>
                                        <ul>
                                            <li>Delivery Charge <span>Free delivery</span></li>
                                            <li>Total <span>$<%= cart.totalPrice %></span></li>
                                        </ul>
                                        <a href="/checkout">Proceed to checkout</a>
                                    </div>
                                </div>
                            </div>
                        </form>
                    <% } %>
                </div>
            </div>
        </div>
    </div>
</main>

<%- include("../partials/footer.ejs") %>

<script>
        //function for inc and dec for cart
    document.addEventListener("DOMContentLoaded", ()=> {
        document.querySelectorAll(".inc.qtybutton").forEach( button => {
            button.addEventListener('click', ()=> {
                const productId = button.getAttribute('data-id');
                updateCartQuantity(productId,1)
            })
        })

        document.querySelectorAll('.dec.qtybutton').forEach(button => {
            button.addEventListener('click' ,()=>{
                const productId = button.getAttribute('data-id');
                updateCartQuantity(productId, -1)
            } )
        })
        const updateCartQuantity = (productId,quantity) => {
        fetch('/update-cart',{
            method: "POST",
            headers: {
                'Content-Type' : 'application/json',
            },
            body : JSON.stringify({productId , quantity})
        })
         .then(response => response.json())
         .then(data => {
            if(data.success) {
                location.reload();
            }else{
                Swal.fire(data.message)
            }
         })
         .catch(error => {
            console.error('Error while updating Cart : ',error)
         });
    };

    });

document.addEventListener("DOMContentLoaded", ()=> {
    document.querySelectorAll(".delete-item").forEach((button) => {
        button.addEventListener("click", (e) => {
            e.preventDefault();

            const productId = button.getAttribute("data-id");

            Swal.fire({
                title:"Are you sure",
                text:" To remove this item from you cart ?",
                type:'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Confirm'
            }).then((result) => {
                if(result.isConfirmed) {
                    deleteCartItem(productId);
                    Swal.fire('Deleted',
                        'Your item has been removed from the cart',
                        'success'
                    )
                }
            })
        });
    });

    const deleteCartItem = (productId) => {
        fetch("/delete-cart",{
            method: "DELETE",
            headers: {
                "Content-Type":"application/json",
            },
            body: JSON.stringify({ productId }),
        })

        .then((response) => response.json())
        .then((data) => {
            if(data.success){
                location.reload();
            }else{
                alert(data.message);
            }
        }) 
        .catch((error)=>{
            console.error("Error while deleting the item from cart : ",error)
        })
    }
})


</script>

