<%- include("../partials/header.ejs") %>


<main class="main-content">
    <div class="breadcrumb-area breadcrumb-height" data-bg-image="/images/breadcrumb/bg/1-1-1920x400.jpg">
        <div class="container h-100">
            <div class="row h-100">
                <div class="col-lg-12">
                    <div class="breadcrumb-item text-night-rider">
                        <h2 class="breadcrumb-heading">Checkout Page</h2>
                        <ul>
                            <li>
                                <a href="/">Home \ </a>
                            </li>
                            <li><a href="/cart">Cart \</a></li>
                            <li> Checkout</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="checkout-area section-space-y-axis-100">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="coupon-accordion">                        
                        <h3>Have a coupon? <span id="showcoupon">Click here to enter your code</span></h3>
                        <div id="checkout_coupon" class="coupon-checkout-content">
                            <div class="coupon-info">
                                <form action="javascript:void(0)">
                                    <p class="checkout-coupon">
                                        <input placeholder="Coupon code" type="text">
                                        <input class="coupon-inner_btn" value="Apply Coupon" type="submit">
                                    </p>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-12">
                    <form action="javascript:void(0)">
                        <div class="checkbox-form">
                            <div class="different-address">
                                <div class="ship-different-title">
                                    <h3>
                                        <label>Select Address</label>
                                    </h3>
                                    <button class="btn btn-primary px-5" onclick="myaccount()">Add new Address or Edit Address</button>
                                    <br><br>
                                </div>
                                
                                <!-- Displaying existing addresses if available -->
                                <div id="existing-addresses" class="row">
                                    <% if (userAddresses && userAddresses.length > 0) { %>
                                                                                                                       <div class="col-md-12">
                                            <label for="selectAddress">Choose an Address</label>
                                        </div>
                                        <% userAddresses.forEach((address, index) => { %>
                                            <div class="col-md-12 address-box">
                                                <input type="radio" 
                                                    id="address-<%= address._id %>" 
                                                    name="address" 
                                                    value="<%= address._id %>" 
                                                    <% if (index === 0) { %> checked <% } %> 
                                                    required > 
                                                <label for="address-<%= address.id %>">
                                                    <div class="address-details">
                                                        <h5><%= address.addressType %> Address</h5>
                                                        <h6><%= address.name %></h6>
                                                        <p><%= address.city %>, <%= address.state %>, <%= address.country %></p>
                                                        <p><%= address.phone %></p>
                                                        <p><%= address.addressLine %>, <%= address.pincode %></p>
                                                    </div>
                                                </label>
                                            </div>
                                        <% }); %>
                                    <% } else { %>
                                        <!-- No existing addresses, show new address form -->
                                        <div class="col-md-12">
                                            <label>No address found, please add a new address</label>
                                        </div>
                                    <% } %>
                                    

                                    <!-- New Address Form if no addresses exist -->
                                    <div id="new-address-form" class="row" <% if (userAddresses.length > 0) { %> style="display:none;" <% } %> >
                                        <div class="col-md-12">
                                            <div class="checkout-form-list">
                                                <label>Full Name <span class="required">*</span></label>
                                                <input id="fullName" placeholder="Enter Full Name" type="text">
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="checkout-form-list">
                                                <label>Phone <span class="required">*</span></label>
                                                <input id="phone" type="text" placeholder="Phone number">
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="checkout-form-list">
                                                <label for="addressType" class="form-label">Address Type</label>
                                                <select class="form-select" id="addressType" required>
                                                    <option value="Home">Home</option>
                                                    <option value="Work">Work</option>
                                                    <option value="Other">Other</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="checkout-form-list">
                                                <label>Pincode <span class="required">*</span></label>
                                                <input id="pincode" placeholder="Pincode" type="text">
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="checkout-form-list">
                                                <label>Address <span class="required">*</span></label>
                                                <input id="address" placeholder="Address" type="text">
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="checkout-form-list">
                                                <label>City <span class="required">*</span></label>
                                                <input id="city" type="text" placeholder="City">
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="checkout-form-list">
                                                <label>State <span class="required">*</span></label>
                                                <input id="state" placeholder="Enter state" type="text">
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="checkout-form-list">
                                                <label>Country <span class="required">*</span></label>
                                                <input id="country" placeholder="Enter Country" type="text">
                                            </div>
                                        </div>
                                        <!-- Save Address Button -->
                                        <div class="col-md-12">
                                            <button id="saveAddressButton" class="btn btn-primary" onclick="saveAddress()">Save Address</button>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-lg-6 col-12">
                    <div class="your-order">
                        <h3>Your order</h3>
                        <div class="your-order-table table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th><strong>Product</strong></th>
                                        <th><strong>Total</strong></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% cartItems.forEach(item => { %>
                                        <tr>
                                            <td><%= item.name %> x <%= item.quantity %></td>
                                            <td>₹<%= item.total.toFixed(2) %></td>
                                        </tr>
                                    <% }); %>
                                </tbody>
                                <tfoot>
                                    <tr class="order-total">
                                        <th >Order Total</th>
                                        <td><strong>₹<%= cartTotal.toFixed(2) %></strong></td>
                                    </tr>
                                </tfoot>
                            </table>
                            
                        </div>
                        <div class="payment-method">
                            <div class="payment-accordion">
                                <div id="accordion">
                                    <!-- Wallet Payment Option -->
                                    <div class="card">
                                        <h4 class="panel-title">Payment method</h4>
                                        <br>
                                        <div class="card-header" id="payment-1">
                                            <h5 class="panel-title">
                                                <label for="wallet-payment" class="d-flex align-items-center">
                                                    <input type="radio" id="wallet-payment" name="payment-method" value="wallet">&nbsp;
                                                    Wallet
                                                </label>
                                            </h5>
                                        </div>
                                        <div class="card-body">
                                            <p>Currenly on working</p>
                                        </div>
                                    </div>
                        
                                    <!-- Online Payment Option -->
                                    <div class="card">
                                        <div class="card-header" id="payment-2">
                                            <h5 class="panel-title">
                                                <label for="online-payment" class="d-flex align-items-center">
                                                    <input type="radio" id="online-payment" name="payment-method" value="razorpay">&nbsp;
                                                    Razorpay
                                                </label>
                                            </h5>
                                        </div>
                                        <div class="card-body">
                                            <!-- <p>Make your payment directly into our bank account. Please use your Order ID as the payment reference. Your order won’t be shipped until the funds have cleared in our account.</p> -->
                                             <p>You can pay via upi ,banking etc</p>
                                        </div>
                                    </div>
                        
                                    <!-- Cash on Delivery Option -->
                                    <div class="card">
                                        <div class="card-header" id="payment-3">
                                            <h5 class="panel-title">
                                                <label for="cod-payment" class="d-flex align-items-center">
                                                    <input  type="radio" id="cod-payment" name="payment-method" value="COD">&nbsp;
                                                    Cash on delivery
                                                </label>
                                            </h5>
                                        </div>
                                        <div class="card-body">
                                            <p>Product will be shipped in 14 working days</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        
                            <!-- Order Button -->
                            <div class="order-button-payment" style="text-align: center;">
                                <button id="placeOrderButton" class="btn btn-primary px-10" onclick="placeOrder()">Place order</button>
                            </div>
                        </div>                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<script>
    function saveAddress() {

        const fullName = document.getElementById("fullName").value.trim();
    const phone = document.getElementById("phone").value.trim();
    const addressType = document.getElementById("addressType").value;
    const pincode = document.getElementById("pincode").value.trim();
    const address = document.getElementById("address").value.trim();
    const city = document.getElementById("city").value.trim();
    const state = document.getElementById("state").value.trim();
    const country = document.getElementById("country").value.trim();


    const errors = [];
    if (!fullName) errors.push("Full Name is required.");
    if (!phone || !/^\d{10}$/.test(phone)) errors.push("Phone must be a valid 10-digit number.");
    if (!pincode || !/^\d{6}$/.test(pincode)) errors.push("Pincode must be a valid 6-digit number.");
    if (!address) errors.push("Address is required.");
    if (!city) errors.push("City is required.");
    if (!state) errors.push("State is required.");
    if (!country) errors.push("Country is required.");


    if (errors.length > 0) {
        Swal.fire("Please fix :\n" + errors.join("\n"));
        return;
    }

    const newAddress = {
        name:fullName,
        phone,
        addressType,
        pincode,
        addressLine:address,
        city,
        state,
        country,
    };


    fetch('/add-address', {
        method: 'POST',
        headers: { 'Content-Type': 'application/json' },
        body: JSON.stringify(newAddress),
    })
        .then((response) => response.json())
        .then((data) => {
            if (data.success) {
                Swal.fire("Address saved successfully!");
                window.location.reload(); 
            } else {
                Swal.fire( data.message);
                window.location.reload()
            }
        })
        .catch((error) => {
            console.error("Error:", error);
            alert("An error occurred while saving the address.");
        });
}

</script>
<script>

function myaccount(){
    window.location.href = '/my-account'
}

    //order placing
window.placeOrder = function() {
    console.log("Place order function triggered.");
    const selectAddressId = document.querySelector('input[name="address"]:checked')?.value ;
    const paymentMethod = document.querySelector('input[name="payment-method"]:checked')?.value ;

            if (!selectAddressId) {
            Swal.fire("Please select an address.");
            return;
        }

        if (!paymentMethod) {
            Swal.fire("Please select a payment method.");
            return;
        }

    const orderData = {
    addressId: selectAddressId,
    paymentMethod,
    cartItems: <%- JSON.stringify(cartItems || [] ) %>
};


    fetch('/checkout',{
        method: 'POST',
        headers : { 'Content-Type':'application/json' },
        body: JSON.stringify(orderData),
    })
    .then((response) => response.json())
    .then((data) => {
        if(data.success) {
            window.location.href = '/order-confirm/' + data.orderId;
        }else{
            Swal.fire(data.message || "An error occured while placing the order.");
        }
    }).catch((error) => {
        console.error('Error',error);
        Swal.fire("An error occured while placing the order")
    })
}


</script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<%- include("../partials/footer.ejs") %>